.page{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    background-image: var(--welcome-url);
    background-color: white;
    background-size: 100% 100%;    
    background-position: center;
}

.page img{
    width: 80%;
    object-fit: contain;    
    padding-top: 5vmin;
    margin-bottom: 5vmin;
}

.page ul{
    margin-bottom: 10vmin;
    padding-left: 4vmin;
}

.page li{
    font-size: 3vmin;
    line-height: 1.5;
    color: #c5d5d6;
    text-align: left;
    list-style: none;
    padding: 1vmin 0 1vmin 6vmin;
    background-image: var(--bullet-url);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 4vmin;
} 

.playButton{
    position: relative;
    display: inline-block;
    width: 23vmin;
    height: 6.5vmin;
    font-size: 2.5vmin;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(119, 119, 119, .5);
    color: #000;
    outline: none;
    border-radius: 1.5vmin;
    background: linear-gradient(#e7ecef 10%, #76878e 40%, #364c57 80%, 95%, #76878e);
    box-shadow:
        0 1px rgba(255,255,255,.2) inset,
        0 3px 5px rgba(0,1,6,.5),
        0 0 1px 1px rgba(0,1,6,.2);
}

.playButton:active{
    top: 1px;
    background: linear-gradient(#76878e 40%, #2c3e47 80%, /* 95%, */ #364c57);
    box-shadow:
        0 0 1px rgba(0,0,0,.5) inset,
        0 2px 3px rgba(0,0,0,.5) inset,
        0 1px 1px rgba(255,255,255,.1);
  }